
ul[data-v-2affa334] {
    list-style-type: none;
    padding-left: 20px;
}
.caret[data-v-2affa334] {
    cursor: pointer;
}
.caret[data-v-2affa334]::before {
    content: "\25B7";
    color: black;
}
.caret-down[data-v-2affa334]::before {
    content: "\25BD";
}
.branch[data-v-2affa334] {
    cursor: pointer;
    background-color:#dadada;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: .2rem;
}
.selected[data-v-2affa334] {
    border: 2px solid blue;
}


.info-box[data-v-2bc54c2f] {
    margin-left: 15px;
    padding: 10px;
    display: inline;
    position: absolute;
    z-index: 1000000;
    background-color: #c0c4c4;
    border-bottom-width: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    border-radius: 4px;
    user-select: none;
}


.decor[data-v-981c0db4] {
    white-space: nowrap;
    border: 2px solid black;
    border-radius: 10px;
    padding-left: 5px;
}


.decor[data-v-293f77de] {
    white-space: nowrap;
    border: 2px solid black;
    border-radius: 10px;
    padding-left: 5px;
}
.btn-st[data-v-293f77de] {
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    background-color: #e0e0e0;
    padding-left: 3px;
    padding-right: 3px;
}
.btn-st[data-v-293f77de]:hover {
    background-color: darkgray;
}
.fs[data-v-293f77de] {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.er[data-v-293f77de] {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}


.l-modal[data-v-78a1e35a] {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.69);
    z-index: 1050;
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    margin: 0;
    padding: 0;
    pointer-events: auto;
}
.l-modal-body[data-v-78a1e35a] {
    padding: 15px;
    width: 600px;
    margin: 30px auto;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 3px 7px rgba(0, 0, 0, .25);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, .25);
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, .25);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    max-height: calc(100vh - 40px);
    overflow-y: hidden;
}
.scroll[data-v-78a1e35a] {
    overflow: auto;
    max-height: calc(100vh - 90px);
    border-radius: 5px;
    background: #f2f2f2;
}


.decor-iv[data-v-7a0d23b2] {
    background-color: #eaeaea;
    border-radius: 3px;
}
.cursor-stop[data-v-7a0d23b2] {
    cursor: not-allowed;
}
.cursor-pointer[data-v-7a0d23b2] {
    cursor: pointer;
}


.btn-st[data-v-086cecdd] {
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    background-color: #e0e0e0;
    padding-left: 3px;
    padding-right: 3px;
}
.btn-st[data-v-086cecdd]:hover {
    background-color: darkgray;
}
.fs[data-v-086cecdd] {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.er[data-v-086cecdd] {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}


.decor[data-v-112a2f3a] {
    white-space: nowrap;
    border: 2px solid #ffab03;
    border-radius: 10px;
    padding-left: 5px;
    cursor: pointer;
}


.decor-iv[data-v-525d946c] {
    background-color: #eaeaea;
    border-radius: 3px;
}
.selected[data-v-525d946c] {
    border-bottom: 4px solid darkblue;
}


.form-bg[data-v-1817846e] {
    background-color: #f1f1f1 !important;
    border-radius: 3px;
}


.l-modal[data-v-3b38e504] {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.69);
    z-index: 1050;
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    margin: 0;
    padding: 0;
    pointer-events: auto;
}
.l-modal-body[data-v-3b38e504] {
    padding: 15px;
    width: 600px;
    margin: 30px auto;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 3px 7px rgba(0, 0, 0, .25);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, .25);
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, .25);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    max-height: calc(100vh - 40px);
    overflow-y: hidden;
}
.scroll[data-v-3b38e504] {
    overflow: auto;
    max-height: calc(100vh - 70px);
}


.l-modal[data-v-3b945e00] {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.69);
    z-index: 1050;
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    margin: 0;
    padding: 0;
    pointer-events: auto;
}
.l-modal-body[data-v-3b945e00] {
    padding: 15px;
    width: 600px;
    margin: 30px auto;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 3px 7px rgba(0, 0, 0, .25);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, .25);
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, .25);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    max-height: calc(100vh - 40px);
    overflow-y: hidden;
}
.scroll[data-v-3b945e00] {
    overflow: auto;
    max-height: calc(100vh - 70px);
}


dd[data-v-23f41347] {
    margin-left: 22px;
    margin-bottom: auto;
}
dl[data-v-23f41347] {
    margin-bottom: auto;
}


.l-modal[data-v-6b0feb70] {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.69);
    z-index: 1050;
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    margin: 0;
    padding: 0;
    pointer-events: auto;
}
.l-modal-body[data-v-6b0feb70] {
    padding: 15px;
    width: 800px;
    margin: 30px auto;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 3px 7px rgba(0, 0, 0, .25);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, .25);
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, .25);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    max-height: calc(100vh - 40px);
    overflow-y: hidden;
}
.scroll[data-v-6b0feb70] {
    overflow: auto;
    max-height: calc(100vh - 110px);
    background: #f2f2f2;
}


.form-bg[data-v-fab84894] {
    background-color: #f1f1f1 !important;
    border-radius: 3px;
}
.selected[data-v-fab84894] {
    border-bottom: 4px solid darkblue;
}


.blur[data-v-4e67e02b] {
        filter: blur(5px);
}
.form-bg[data-v-4e67e02b] {
        background-color: lightgrey;
}


.l-modal[data-v-bea62a28] {
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        position: fixed;
        background: rgba(0, 0, 0, 0.69);
        z-index: 1050;
        transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -webkit-transition: all 0.4s ease-in-out;
        margin: 0;
        padding: 0;
        pointer-events: auto;
}
.l-modal-body[data-v-bea62a28] {
        padding: 15px;
        width: 400px;
        margin: 30px auto;
        border-radius: 5px;
        background: #fff;
        box-shadow: 0 3px 7px rgba(0, 0, 0, .25);
        -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, .25);
        -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, .25);
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
}

