
ul[data-v-8ef25f0e] {
    list-style-type: none;
    padding-left: 20px;
}
.caret[data-v-8ef25f0e] {
    cursor: pointer;
}
.caret[data-v-8ef25f0e]::before {
    content: "\25B7";
    color: black;
}
.caret-down[data-v-8ef25f0e]::before {
    content: "\25BD";
}
.branch[data-v-8ef25f0e] {
    cursor: pointer;
    background-color:#dadada;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: .2rem;
}
.selected[data-v-8ef25f0e] {
    border: 2px solid blue;
}


.btn-dc[data-v-69401c40] {
    cursor: pointer;
    user-select: none;
    padding-left: 2px;
    padding-right: 2px;
}
.btn-dc[data-v-69401c40]:hover {
    background-color: darkgray;
    border-radius: 4px;
}
.info-box[data-v-69401c40] {
    margin-left: 15px;
    padding: 10px;
    display: inline;
    position: absolute;
    z-index: 1000000;
    background-color: #c0c4c4;
    border-bottom-width: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    border-radius: 4px;
    user-select: none;
}


.decor[data-v-dbd1f6d4] {
    white-space: nowrap;
    border: 2px solid black;
    border-radius: 10px;
    padding-left: 5px;
}
.btn-dc[data-v-dbd1f6d4] {
    cursor: pointer;
    user-select: none;
}
.btn-dc[data-v-dbd1f6d4]:hover {
    background-color: darkgray;
    border-radius: 4px;
}


.decor[data-v-7ee7cf1a] {
    white-space: nowrap;
    border: 2px solid black;
    border-radius: 10px;
    padding-left: 5px;
}
.btn-dc[data-v-7ee7cf1a] {
    cursor: pointer;
    user-select: none;
}
.btn-dc[data-v-7ee7cf1a]:hover {
    background-color: darkgray;
    border-radius: 4px;
}
.btn-st[data-v-7ee7cf1a] {
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    background-color: #e0e0e0;
    padding-left: 3px;
    padding-right: 3px;
}
.btn-st[data-v-7ee7cf1a]:hover {
    background-color: darkgray;
}
.fs[data-v-7ee7cf1a] {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.er[data-v-7ee7cf1a] {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}


.decor-iv[data-v-30e93980] {
    background-color: #eaeaea;
    border-radius: 3px;
}
.cursor-stop[data-v-30e93980] {
    cursor: not-allowed;
}


.btn-dc[data-v-f6b30b9e] {
    cursor: pointer;
    user-select: none;
    padding-left: 2px;
    padding-right: 2px;
}
.btn-dc[data-v-f6b30b9e]:hover {
    background-color: darkgray;
    border-radius: 4px;
}


.btn-dc[data-v-33ba0378] {
    cursor: pointer;
    user-select: none;
    padding-left: 2px;
    padding-right: 2px;
}
.btn-dc[data-v-33ba0378]:hover {
    background-color: darkgray;
    border-radius: 4px;
}
.btn-st[data-v-33ba0378] {
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    background-color: #e0e0e0;
    padding-left: 3px;
    padding-right: 3px;
}
.btn-st[data-v-33ba0378]:hover {
    background-color: darkgray;
}
.fs[data-v-33ba0378] {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.er[data-v-33ba0378] {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}


.decor[data-v-43192036] {
    white-space: nowrap;
    border: 2px solid #ffab03;
    border-radius: 10px;
    padding-left: 5px;
    cursor: pointer;
}
.btn-dc[data-v-43192036] {
    cursor: pointer;
    user-select: none;
    padding-left: 2px;
    padding-right: 2px;
}
.btn-dc[data-v-43192036]:hover {
    background-color: darkgray;
    border-radius: 4px;
}


.decor-iv[data-v-1afe0cf6] {
    background-color: #eaeaea;
    border-radius: 3px;
}
.selected[data-v-1afe0cf6] {
    border-bottom: 4px solid darkblue;
}


.form-bg[data-v-dbd99e66] {
    background-color: #f1f1f1 !important;
    border-radius: 3px;
}
.selected[data-v-dbd99e66] {
    border-bottom: 4px solid darkblue;
}


.blur[data-v-0d318d31] {
        filter: blur(5px);
}
.form-bg[data-v-0d318d31] {
        background-color: lightgrey;
}


.l-modal[data-v-758f7bac] {
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        position: fixed;
        background: rgba(0, 0, 0, 0.69);
        z-index: 1050;
        transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -webkit-transition: all 0.4s ease-in-out;
        margin: 0;
        padding: 0;
        pointer-events: auto;
}
.l-modal-body[data-v-758f7bac] {
        padding: 15px;
        width: 400px;
        margin: 30px auto;
        border-radius: 5px;
        background: #fff;
        box-shadow: 0 3px 7px rgba(0, 0, 0, .25);
        -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, .25);
        -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, .25);
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
}

