@import url("/css/modal.css");
@import url("/css/common.css");
@import url("/css/controls.css");
@import url("/css/header.css");

html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    margin: 0;
}

*, *::before, *::after {
    box-sizing: inherit;
}

.main-blck {
    height: 100vh;
    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-template-areas: "r1" "r2" "r3";
}

.m-row1 {
    grid-area: r1;
    padding: 1rem;
    box-shadow: 0 1px 2px rgba(0,0,0,0.13), 0 0px 2px rgba(0,0,0,0.08);
    display: grid;
    grid-template-columns: auto 1fr 1fr auto;
    grid-template-areas: "b1 b2 b3 b4";

    @media (max-width: 754px) {
        grid-template-columns: auto auto;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
        "b1 b4"
        "b2 b3";
    }

    @media (max-width: 458px) {
        rid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
        "b1 b4"
        "b2 b2"
        "b3 b3";
    }
}

.m-row2 {
    grid-area: r2;
}

.m-row3 {
    grid-area: r3;
}