.modal-dlg {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.69);
    z-index: 1050;
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    margin: 0;
    padding: 0;
    pointer-events: auto;
}

.modal-dlg-body {
    padding: 15px;
    width: 600px;
    margin: 30px auto;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 3px 7px rgba(0, 0, 0, .25);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, .25);
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, .25);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    max-height: calc(100vh - 40px);
    overflow-y: hidden;
}

.modal-dlg-scroll {
    overflow: auto;
    max-height: calc(100vh - 90px);
    border-radius: 5px;
    background: #f2f2f2;
}

.l-modal {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.69);
    z-index: 1050;
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    margin: 0;
    padding: 0;
    pointer-events: auto;
}

.l-modal-body {
    padding: 15px;
    width: 400px;
    margin: 30px auto;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 3px 7px rgba(0, 0, 0, .25);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, .25);
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, .25);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.searchTarget {
    background-color: #b7f696 !important;
}

.area-body {
    background-color: #eaeaea;
    border-radius: 3px;
}

.area-header {
    background-color: #d0d0d0;
}

.btn-dc {
    cursor: pointer;
    user-select: none;
    padding-left: 2px;
    padding-right: 2px;
}

.btn-dc:hover {
    background-color: darkgray;
    border-radius: 4px;
}

.btn-st {
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    background-color: #e0e0e0;
    padding-left: 3px;
    padding-right: 3px;
}
.btn-st:hover {
    background-color: darkgray;
}
.fs {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.er {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.fit-cell {
    width: 1%;
    white-space: nowrap;
}

.blur {
    filter: blur(5px);
}

.form-bg {
    background-color: lightgrey;
}

.us-form-bg {
    background-color: #f1f1f1 !important;
    border-radius: 3px;
}

.selected {
    border-bottom: 4px solid darkblue;
}

.tr-ul {
    list-style-type: none;
    padding-left: 20px;
}

.caret {
    cursor: pointer;
}

.caret::before {
    content: "\25B7";
    color: black;
}

.caret-down::before {
    content: "\25BD";
}

.branch {
    user-select: none;
    cursor: pointer;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: .2rem;
}

.tr-selected {
    border: 1px solid blue;
    background-color: white;
}

.decor-iv {
    background-color: #eaeaea;
    border-radius: 3px;
}

.decor {
    white-space: nowrap;
    border: 1px solid black;
    border-radius: 10px;
    padding-left: 5px;
    margin-top: 1px;
}

.decor-tr {
    white-space: nowrap;
    border: 2px solid #ffab03;
    border-radius: 10px;
    padding-left: 5px;
    cursor: pointer;
}

.cursor-stop {
    cursor: not-allowed;
}

.cursor-pointer {
    cursor: pointer;
}
.acce-dd {
    margin-left: 22px;
    margin-bottom: auto;
}

.acce-dl {
    margin-bottom: auto;
}

.info-box {
    margin-left: 15px;
    padding: 10px;
    display: inline;
    position: absolute;
    z-index: 1000000;
    background-color: #c0c4c4;
    border-bottom-width: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    border-radius: 4px;
    user-select: none;
}