.btn-dc {
    cursor: pointer;
    user-select: none;
    padding-left: 2px;
    padding-right: 2px;
}

.btn-dc:hover {
    background-color: darkgray;
    border-radius: 4px;
}

.btn-st {
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    background-color: #e0e0e0;
    padding-left: 3px;
    padding-right: 3px;
}
.btn-st:hover {
    background-color: darkgray;
}
.fs {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.er {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}
