.blur {
    filter: blur(5px);
}

.h-100 {
    height: 100vh;
}

.selected {
    border-bottom: 4px solid darkblue !important;
}

.searchTarget {
    background-color: #b7f696 !important;
}

.area-body {
    background-color: #eaeaea;
    border-radius: 3px;
}

.area-header {
    background-color: #d0d0d0;
}

.fit-cell {
    width: 1%;
    white-space: nowrap;
}

.form-bg {
    background-color: lightgrey;
}

.us-form-bg {
    background-color: #f1f1f1 !important;
    border-radius: 3px;
}

.tr-ul {
    list-style-type: none;
    padding-left: 20px;
}

.caret {
    cursor: pointer;
}

.caret::before {
    content: "\25B7";
    color: black;
}

.caret-down::before {
    content: "\25BD";
}

.branch {
    user-select: none;
    cursor: pointer;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: .2rem;
}

.tr-selected {
    border: 1px solid blue;
    background-color: white;
}

.decor-iv {
    background-color: #eaeaea;
    border-radius: 3px;
}

.decor {
    white-space: nowrap;
    border: 1px solid black;
    border-radius: 10px;
    padding-left: 5px;
    margin-top: 1px;
}

.decor-tr {
    white-space: nowrap;
    border: 2px solid #ffab03;
    border-radius: 10px;
    padding-left: 5px;
    cursor: pointer;
}

.cursor-stop {
    cursor: not-allowed;
}

.cursor-pointer {
    cursor: pointer;
}
.acce-dd {
    margin-left: 22px;
    margin-bottom: auto;
}

.acce-dl {
    margin-bottom: auto;
}
