select {
    font-size: inherit;
    padding: 0.4rem 0.8rem;
    margin: 2px;
    border: 1px solid #7ebcff;
    border-radius: 0.25rem;
    background-color: transparent;
}

.input {
    z-index: 1;
    font-size: inherit;
    padding: 0.4rem 0.8rem;
    border-radius: 0.25rem;
    border: 1px solid #7ebcff;
}

.renew {
    position: absolute;
    width: 1.5rem !important;
    height: 1.5rem !important;
}

.btn {
    font-size: inherit;
    padding: 0.4rem 0.8rem;
    border-radius: 0.25rem;
    user-select: none;

    &.icon {
        height: 2.24rem;
        display: flex;
        align-items: center;
        padding-left: 0.3rem;
        padding-right: 0.3rem;
    }

    &:disabled, &.disabled, &[disabled] {
        svg {
            fill: rgb(161, 161, 161);
        }
    }
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
    background-color: unset;

    &.blue {
        border-color: #007bff;
    }

    &.blue:hover {
        background-color: #007bff5e;
    }

    &.red {
        border-color: #ff0000;
    }

    &.red:hover {
        background-color: #ff6f6f;
    }
}

.pgen {
    &.btn.icon {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: 0;
    }

    &.input {
        border-radius: 0;
        border: 2px solid #007bff;
        width: 230px;

        @media (max-width: 874px) {
            width: 100%;
        }
    }

    &.btn:not(.icon) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left: 0;
    }
}

.search {
    &.btn.icon {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left: 0;
    }

    &.input {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border: 2px solid #007bff;
        width: 200px;

        @media (max-width: 874px) {
            width: 100%;
        }
    }
}

.dropdown {
    display: none;
    position: absolute;
    z-index: 1000;
    background-clip: padding-box;
    background-color: white;
    border: 2px solid #007bff;
    border-radius: 0.25rem;
    padding: 0.25rem;
}

.dropdown-item {
    display: block;
    cursor: default;
    padding: 0.25rem;

    &:hover {
        color: #16181b;
        background-color: #007bff5e;
    }

    &.disabled {
        color: #6c757d;
        pointer-events: none;
        background-color: transparent;
    }
}

.dropdown-divider {
    height: 0;
    margin: 0.5rem 0;
    overflow: hidden;
    border-top: 1px solid #e9ecef;
}

.show {
    display: grid;
}

.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    padding: 0;
    background-color: transparent;
    border: 0;
    cursor: pointer;

    &:hover {
        background-color: #83bfff;
    }
}

.text-box {
    display: block;
    resize: vertical;
    width: 100%;
    padding: 0.375rem 0.75rem;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: inherit;
    line-height: 1.5;
    background-color: #fff;
    border: 1px solid #7ebcff;
    border-radius: 0.25rem;
}

.iv-input {
    display: block;
    width: 100%;
    font-size: inherit;
    padding: 0.4rem 0.8rem;
    border-radius: 0.25rem;
    border: 1px solid #7ebcff;
    margin-top: 2px;
    margin-bottom: 2px;
}

.iv-input-sm {
    display: block;
    font-size: inherit;
    padding: 0.4rem 0.8rem;
    border-radius: 0.25rem;
    border: 1px solid #7ebcff;
    margin-top: 2px;
    margin-bottom: 2px;
}

.btn-img {  
    background-repeat: no-repeat;
    background-size: 1.8rem;
    background-position: center;
    background-color: transparent;
    border: none;
    border-radius: 0.25rem;
    height: 2.2rem;
    width: 2.2rem;
    padding: 0.2rem;
    margin: 2px;
    cursor: pointer;

    &:hover:not(.disabled):not(:disabled) {
        background-color: #7ebcff;
    }

    &.disabled, &:disabled {
        cursor: unset;
        filter: contrast(10%);
    }

    &.acpt {
        background-image: url(/svg/accept.svg);
    }

    &.cncl {
        background-image: url(/svg/cancel.svg);
    }

    &.edit {
        background-image: url(/svg/edit.svg);
    }

    &.rmv {
        background-image: url(/svg/trash.svg);
    }

    &.info {
        background-image: url(/svg/info.svg);
    }

    &.show {
        background-image: url(/svg/show.svg);
    }

    &.copy {
        background-image: url(/svg/copy.svg);
    }
}