.h-col1 {
    grid-area: b1;
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.h-col2 {
    grid-area: b2;
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

.h-col3 {
    grid-area: b3;
    justify-self: end;
}

.h-col4 {
    grid-area: b4;
}