.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    pointer-events: auto;
    z-index: 700;
    background: rgba(0, 0, 0, 0.69);
    display: grid;
    justify-items: center;
}

.modal-header {
    display: grid;
    grid-template-columns: auto min-content;
    align-items: center;
}

.modal-body {
    min-width: 260px;
    background: #fff;
    border-radius: 10px;
    padding: 20px;
}

.login {
    width: min(400px, 100%);
    display: grid;
    height: fit-content;
    margin-top: 20vh;
    gap: 20px;
    justify-items: center;

    & .input {
        width: 100%;
    }
}

.dialog {
    display: grid;
    height: fit-content;
    margin-top: 20vh;
    gap: 1rem;

    & .btn {
        justify-self: center;
    }

    & .input {
        margin-left: 1rem;
    }
}

.info-box {
    margin-left: 2px;
    padding: 10px;
    display: inline;
    position: absolute;
    z-index: 1000000;
    background-color: #d6f0ff;
    border-radius: 0.25rem;
    user-select: none;
}