<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="/favicon.ico"/>
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/main.css">
    <title>PPM</title>
</head>
<body>
<div id="app">
    <login-form></login-form>
    <main-block></main-block>
</div>
<script src="/webjars/jquery/jquery.min.js"></script>
<script src="/webjars/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/webjars/vue/dist/vue.global.js"></script>
<script src="/forge/forge.all.min.js"></script>
<script src="/controller.js"></script>
</body>
</html>